<form method="post" action="{% url 'category_activate' category.id %}" class="js-category-activate-form">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Confirm Category Activation</h4>
  </div>
  <div class="modal-body">
    <p class="lead">Are you sure you want to activate this category <strong>{{ category.nameCat }}</strong>?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-success">Activate Category</button>
  </div>
</form>