{% extends 'index.html' %}

{% block content %}

    <h2>User's Profile</h2>
    <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
            <div class="profile_img">
                <div id="crop-avatar">
                    <!-- Current avatar -->
                    <img style="border-bottom-left-radius: 30px; border-top-right-radius: 30px"
                         class="img-responsive avatar-view" src="{{ user.profile.picture.url }}"
                         alt="{{ user.username }}" title="{{ user.get_full_name|default:user.username }}">
                </div>
            </div>
            <h3>{{ user.get_full_name|default:user.username }}</h3>

            <ul class="list-unstyled user_data">
                <li><i class="fa fa-map-marker user-profile-icon"></i> {{ user.profile.address }}
                </li>

                <li>
                    <i class="fa fa-briefcase user-profile-icon"></i> {{ user.profile.role }}
                </li>

                <li class="m-top-xs">
                    <i class="fa fa-external-link user-profile-icon"></i>
                    <a href="http://www.kimlabs.com/profile/" target="_blank"> {{ user.email }}</a>
                </li>
            </ul>


             <button type="button"
                     class="btn btn-success js-create-attendance"
                     data-url="{% url 'attendance_clockin' %}"
                     data-toggle="tooltip" data-placement="top" title="Click to Clock in for the Day">
                 <span class="glyphicon glyphicon-check"></span>Clock In
             </button>

            <button type="button"
                    class="btn btn-success js-create-attendance"
                    data-url="{% url 'attendance_clockin' %}"
                    data-toggle="tooltip" data-placement="top" title="Click to Clock out for the Day">
                <span class="glyphicon glyphicon-check"></span>Clock Out
            </button>
            <br/>

            <div class="modal fade" id="modal-attendance">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>

        </div>
        <div class="col-md-9 col-sm-9 col-xs-12">

            <div class="profile_title">
                <div class="col-md-6">
                    {#                          <h2>User Activity Report</h2>#}
                    <h2 style="float: right; color: green;">You Last logged in, {{ user.last_login }}</h2>

                </div>

            </div>
            <!-- start of user-activity-graph -->
            <div id="" style="width:100%; height:280px;">
                <canvas id="graph_bar"></canvas>
            </div>
            <!-- end of user-activity-graph -->


        </div>
    </div>


    <script>

        $(document).on('submit', '#clockin', function (e) {
           e.preventDefault();
           $.ajax({
           type: 'POST',    
           url: '/clockin/',
           data:{
               user:$('#user').val(),
               csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
           },
            success: function () {
                alert('ClockedIn');
            }   
        });
        });

    </script>

{% endblock %}
