{% for deduction in deductions %}
  <tr>
    <td>{{ deduction.user}}</td>
    <td>{{ deduction.amount }}</td>
    <td>{{ deduction.reason }}</td>
    <td>{{ deduction.empCode }}</td>
    <td>{{ deduction.dateDeduction }}</td>
    <td >
      <button type="button"
              class="btn btn-warning btn-xs js-update-deduction"
              data-url="{% url 'deduction_update' deduction.id %}"
              data-toggle="tooltip" data-placement="top" title="Edit Deduction">
        <span class="glyphicon glyphicon-pencil"></span> Edit
      </button>
      <button type="button"
              class="btn btn-danger btn-xs js-delete-deduction"
              data-url="{% url 'deduction_delete' deduction.id %}"
              data-toggle="tooltip" data-placement="top" title="Delete Deduction">
        <span class="glyphicon glyphicon-trash"></span> Delete
      </button>
    </td>
  </tr>
{% empty %}
  <tr>
    <td colspan="8" class="text-center bg-warning">No deductions Yet!</td>
  </tr>
{% endfor %}