{% for tab in tabs %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ tab.user }}</td>
    <td>{{ tab.tableNum }}</td>
    <td>{{ tab.orderNumber }}</td>
    <td>{{ tab.dateOp }}</td>
    <td>{{ tab.status }}</td>
    <td >
     <a href="{% url 'order_list' tab.id user.id %}">
      <button type="button"
              class="btn btn-success btn-xs"
              data-url="{% url 'order_list' tab.id user.id %}"
              data-toggle="tooltip" data-placement="top" title="Place Orders">
        <span class="fa fa-spoon"></span> Order
      </button>
     </a>
    </td>
  </tr>
{% empty %}
  <tr>
    <td colspan="8" class="text-center bg-warning">No Open Tabs!</td>
  </tr>
{% endfor %}