{% extends 'index.html' %}

{% load static %}

{% block javascript %}
    <script src="{% static 'src/js/profile.js' %}"></script>
    <script src="{% static 'src/js/jquery-3.1.1.min.js' %}"></script>
{% endblock %}

{% block content %}


    <div class="x_title">
        <h2 class="page-header">User Profile Operations</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                </ul>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <p>
        <button type="button" class="btn btn-primary js-create-profile" data-url="{% url 'profile_create' %}">
            <span class="glyphicon glyphicon-plus"></span>
            New User Profile
        </button>
    </p>

    {#  <table class="table table-striped table-bordered" id="profile-table">#}
    <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0"
           width="100%">
        <thead>
        <tr>
{#            <th>#</th>#}
            <th>Department Name</th>
            <th>Address</th>
            <th>Telephone</th>
            <th>Actions</th>
            <th>Telephone</th>
            <th>Actions</th>
{#            <th>Actions</th>#}
        </tr>
        </thead>
        <tbody>
        {% include 'profiles/includes/partial_profile_list.html' %}
        </tbody>
    </table>

    <div class="modal fade" id="modal-profile">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>
{% endblock %}