{% extends 'index.html' %}
{% load staticfiles %}
{% block content %}

    <style>
        #pic {
            width: 100px;
            height: 100px;
        }
    </style>

    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
        <a href="{% url 'createUser' %}" class="btn btn-btnprimary btn-justify">
            <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-user"></i> Add User</button>
        </a>
    </div>

    <div class="clearfix"></div>
    {% for user in users %}

        <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
            <div class="well profile_view">
                <div class="col-sm-12">
                    <h4 class="brief"><i>Name: {{ user.get_full_name }}</i></h4>
                    <div class="left col-xs-7">
                        <h2>{{ user.username }}</h2>
                        <p><strong>Position: </strong>
                            {% if user.profile.role == 1 %}
                                CEO
                            {% elif user.profile.role == 2 %}
                                ADMIN
                            {% elif user.profile.role == 3 %}
                                MANAGER
                            {% elif user.profile.role == 4 %}
                                PURCHASE
                            {% elif user.profile.role == 5 %}
                                CASHIER
                            {% elif user.profile.role == 6 %}
                                AVARIS
                            {% elif user.profile.role == 7 %}
                                HUMAN RESOURCE
                            {% elif user.profile.role == 8 %}
                                OPERATION
                            {% elif user.profile.role == 9 %}
                                WAITRESS
                            {% endif %}
                        </p>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-building"></i> Address: {{ user.profile.address }} </li>
                            <li><i class="fa fa-phone"></i> Phone #: {{ user.profile.phone }}</li>
                        </ul>
                    </div>
                    <div class="right col-xs-5 text-center">
                        <img src="{{ user.profile.picture.url }}" alt="" id="pic" class="img-circle img-responsive">
                    </div>
                </div>
                <div class="col-xs-12 bottom text-center">
                    <div class="col-xs-12 col-sm-6 emphasis">
                        <p class="ratings">
                            <a>4.0</a>
                            <a href="#"><span class="fa fa-star"></span></a>
                            <a href="#"><span class="fa fa-star"></span></a>
                            <a href="#"><span class="fa fa-star"></span></a>
                            <a href="#"><span class="fa fa-star"></span></a>
                            <a href="#"><span class="fa fa-star-o"></span></a>
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-6 emphasis">
                        <button type="button" class="btn btn-success btn-xs"><i class="fa fa-user">
                        </i> <i class="fa fa-comments-o"></i></button>
                        <button type="button" class="btn btn-primary btn-xs">
                            <i class="fa fa-user"> </i> View Profile
                        </button>
                    </div>
                </div>
            </div>
        </div>

    {% empty %}
        <tr>
            <td colspan="8" class="text-center bg-warning">No Profiles Yet!</td>
        </tr>

    {% endfor %}
{% endblock %}