{% extends 'index.html' %}

{% load static %}

{% block javascript %}
    <script src="{% static 'src/js/order.js' %}"></script>
    <script src="{% static 'src/js/jquery-3.1.1.min.js' %}"></script>
{% endblock %}

{% block content %}


    <div class="x_title">
        <h2 class="page-header">Order Operations</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                </ul>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <p>
        <button type="button" class="btn btn-primary js-create-order" data-url="{% url 'order_create' pk %}">
            <span class="glyphicon glyphicon-plus"></span>
            Add Products to Cart {{ pk }}
        </button>
    </p>

    {#  <table class="table table-striped table-bordered" id="order-table">#}
    <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0"
           width="100%">
        <thead>
        <tr>
            <th>Product</th>
            <th>Price </th>
            <th>Quantity</th>
            <th>Amount</th>
            <th>Order No..</th>
            <th>Date</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% include 'orders/includes/partial_order_list.html' %}
        </tbody>
    </table>
    <a href="{% url 'sale_list' pk %}">
        <button type="button" class="btn btn-group-lg btn-group-justified btn-primary"
                data-url="{% url 'sale_list' pk %}">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            Validate Orders and Issue Printing Command {{ pk }}
        </button>
    </a>
    <div class="modal fade" id="modal-order">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>
{% endblock %}