<form method="post" action="{% url 'product_deactivate' product.id %}" class="js-product-deactivate-form">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Confirm Product Deactivation</h4>
  </div>
  <div class="modal-body">
    <p class="lead">Are you sure you want to deactivate this product <strong>{{ product.namePdt }}</strong>?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-warning">Deactivate Product</button>
  </div>
</form>